<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class:"form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>


  <div class="form-check">
    <%= form.label :premium, class: "form-check-label" %>
    <%= form.check_box :premium, class: "form-check-input" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class:"form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <%= form.submit "save", :class => 'btn btn-outline-primary' %>
<% end %>
