<div id="<%= dom_id job %>" style="margin: 1%">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <%= job.title %>
      </h5>
      <p class="card-text">
        <%= job.description %>
      </p>
      <p>
        <%= check_box("tag", job.id, {checked: job.premium, class: "form-check-input", disabled: true}) %>
        Premium 
      </p>
      <p>
        <%= pluralize(job.comments.size, " comment") %>
      <p/>
      <%= link_to 'Show', job, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>

